{% extends 'base.html' %}

{% block name %}
Калькулятор
{% endblock %}

{% block info %}
<div class="container mt-5">
    <h1>Калькулятор</h1>
    <h1>Общий вид линейного уравнение ax + b = 0. Вам надо ввести 2 числа a и b</h1>
    <form method="post">
        <textarea name ="title" id = "title" class="form-control" placeholder="Введите первое число" cols="10" rows="1"></textarea>
        <select name="sign" id="sign">
            <option>+</option>
            <option>-</option>
            <option>/</option>
            <option>*</option>
            <option>//</option>
            <option>**</option>
            <option>sqrt</option>
            <option>%</option>
            <option>Линейное уравнение</option>

        </select>
        <textarea name ="text" id = "text" class="form-control" placeholder="Введите первое число" cols="10" rows="1"></textarea>
        <input type="submit" class="btn btn-primary">
    </form>

    <h1>Ваш ответ = {{ answer }}</h1>

</div>
{% endblock %}